@charset "utf-8";

body {
    background-color: #1a1c24;
}

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

ul {
    margin-top:80px;
}

ul li {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}
ul li + li {
    margin-top: 6px;
}
